/* Estilos para el formulario de inicio de sesión y creación de cuenta */

.formulario {
	max-width: 400px;
	margin: 0 auto;
	padding: 20px;
	background-color: #fff;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	animation: fadeOut 1s ease-in-out;
  }
  
  .formulario h2 {
	text-align: center;
	font-size: 28px;
	margin-bottom: 20px;
	color: #333;
	animation: fadeOut 1s ease-in-out;
  }
  
  .formulario input[type="text"],
  .formulario input[type="email"],
  .formulario input[type="password"] {
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
	border: 2px solid #ddd;
	border-radius: 5px;
	font-size: 16px;
	animation: fadeOut 1s ease-in-out;
  }
  
  .formulario input[type="submit"] {
	width: 100%;
	background-color: #0089ff;
	color: #fff;
	padding: 10px;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	cursor: pointer;
  }
  
  .formulario input[type="submit"]:hover {
	background-color: #333;
  }
  
  .formulario p {
	text-align: center;
	margin-top: 20px;
  }
  
  .formulario p a {
	color: #333;
	text-decoration: none;
  }
  
  .formulario p a:hover {
	text-decoration: underline;
  }
  


  /* menu */

#menu ul {
	list-style:none;
	margin:0;
	padding:0;
   }
   
   /* items del menu */
   
   #menu ul li {
	background-color:#2e518b;
   }
   
   /* enlaces del menu */
   
   #menu ul a {
	display:block;
	color:#fff;
	text-decoration:none;
	font-weight:400;
	font-size:15px;
	padding:10px;
	font-family:"HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform:uppercase;
	letter-spacing:1px;
   }
   
   /* items del menu */
   
   #menu ul li {
	position:relative;
	float:left;
	margin:0;
	padding:0;
   }
   
   /* efecto al pasar el ratón por los items del menu */
   
   #menu ul li:hover {
	background:#333;
   }

   /* menu desplegable */

#menu ul ul {
	display:none;
	position:absolute;
	top:100%;
	left:0;
	background:#eee;
	padding:0;
   }
   
   /* items del menu desplegable */
   
   #menu ul ul li {
	float:none;
	width:150px
   }
   
   /* enlaces de los items del menu desplegable */
   
   #menu ul ul a {
	line-height:120%;
	padding:10px 15px;
   }
   
   /* items del menu desplegable al pasar el ratón */
   
   #menu ul li:hover > ul {
	display:block;
   }

   form {
	display: flex;
	align-items: center;
  }
  
  label {
	margin-right: 10px;
  }
  
  input[type="text"] {
	padding: 5px;
	border: 1px solid #ccc;
	border-radius: 3px;
  }
  
  button[type="submit"] {
	background-color: #333;
	color: #fff;
	border: none;
	border-radius: 3px;
	padding: 5px 10px;
	cursor: pointer;
  }
  
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.banner {
    color: white;
    text-align: center;
    padding: 50px;
    width: 100%;
    box-sizing: border-box;
}

.banner h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.banner p {
    font-size: 24px;
}

